body{
	font-family: 'Roboto', sans-serif;
	color: #000;
}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}
#container h2{
	text-align:center;
	color:#045;
}

#quoteContainer{
	width:100%;
	background: #fff;
	padding:10px;
	margin:50px auto;
	text-align: center;
  height:100px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton1{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton1:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton1:active{
	cursor: pointer;
}
#quoteButton1{
	display: inline-block;
}

#quoteButton2{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton2:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton2:active{
	cursor: pointer;
}
#quoteButton2{
	display: inline-block;
	}

#quoteButton3{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton3:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton3:active{
	cursor: pointer;
}
#quoteButton3{
	display: inline-block;
	}

#quoteButton4{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton4:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton4:active{
	cursor: pointer;
}
#quoteButton4{
	display: inline-block;
	}

#quoteButton5{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton5:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton5:active{
	cursor: pointer;
}
#quoteButton5{
	display: inline-block;
	}

#quoteButton6{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton6:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton6:active{
	cursor: pointer;
}
#quoteButton6{
	display: inline-block;
	}

#quoteButton7{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton7:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton7:active{
	cursor: pointer;
}
#quoteButton7{
	display: inline-block;
	}

#quoteButton8{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton8:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton8:active{
	cursor: pointer;
}
#quoteButton8{
	display: inline-block;
	}

#quoteButton9{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton9:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton9:active{
	cursor: pointer;
}
#quoteButton9{
	display: inline-block;
	}
#quoteButton10{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton10:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton10:active{
	cursor: pointer;
}
#quoteButton10{
	display: inline-block;
	}
#quoteButton11{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton11:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton11:active{
	cursor: pointer;
}
#quoteButton11{
	display: inline-block;
	}
#quoteButton11{
	display: inline-block;
	}
#quoteButton12{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton12:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}
#quoteButton12:active{
	cursor: pointer;
}
#quoteButton12{
	display: inline-block;
	}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton1,#quoteButton2,#quoteButton3,#quoteButton4,#quoteButton5,#quoteButton6,#quoteButton7,
	#quoteButton8,#quoteButton9,#quoteButton10,#quoteButton11,#quoteButton12,#addNew{
		display: block;
	}
}